body {
  font-family: consolas;
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
}

#time {
  font-size: 3em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #606060;
  color: #FFFFFF;
}

button:hover {
  background: #808080;
}

#laps {
  margin-top: 50px;
  overflow-y: visible;
}

.lap {
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
}
